# Environment files
.env
*.env
.env.local
.env.production
.env.development

# Virtual environment
envgp/
venv/
env/

# Frontend
frontend/package-lock.json
frontend/node_modules/
frontend/build/

# Backend
backend/media/
backend/server/db.sqlite3
*.pyc
__pycache__/
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db